
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --background: #fff; --foreground: #111; }
html.dark { --background: #000; --foreground: #eee; }
body { background: var(--background); color: var(--foreground); }
